<?php

// LDAP variables
$ldaphost = "ldap.softwaremx.org";  // your ldap servers
$ldaphost = "softwaremx.org";
#$ldaphost = "127.0.0.1";
$ldapport = 389;                 // your ldap server's port number
$dn = "dc=openintelligence,dc=mx";

// Connecting to LDAP
$ldapconn = ldap_connect($ldaphost, $ldapport) or die("Could not connect to $ldaphost");
print_r($ldapconn);
$ds = $ldapconn;
ldap_set_option($ds, LDAP_OPT_PROTOCOL_VERSION, 3);
// using ldap bind
$ldaprdn  = 'cn=,dc=openintelligence,dc=mx';     // ldap rdn or dn
$ldappass = '';  // associated password

